version: "3.9"

services:
  twitch-bot:
    build:
      context: .
      dockerfile: services/twitch-bot/Dockerfile
    container_name: twitch-bot
    env_file:
      - ./docker/.env
    environment:
      - DB_HOST=postgres
      - REDIS_HOST=redis
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - twitch_logs:/app/logs

  discord-bot:
    build:
      context: .
      dockerfile: services/discord-bot/Dockerfile
    container_name: discord-bot
    env_file:
      - ./docker/.env
    environment:
      - DB_HOST=postgres
      - REDIS_HOST=redis
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - discord_logs:/app/logs

networks:
  app-network:
    external: true
    name: goalkeeper_shared_network

volumes:
  discord_logs:
  twitch_logs: